.span4
  %p 
    This Experiment Created by 
    %a{href: "http://iconoclastlabs.com/"}
      Iconoclast Labs
    %a{href: "http://twitter.com/iconoclastlabs"}
      = image_tag "twitter.png"
      Follow Us on Twitter 
  %p
    Copyright: All Rights Reserved
.span4
  = image_tag "rr-logo-small.png"
  %strong Created during Rails Rumble 2012
.span3
  %p
    Haiku Icons by 
    %a{href: "http://www.thenounproject.com"} NounProject
  %p
    Graphics from
    %a{href: "http://graphicriver.net"} GraphicRiver
  %p
    Color icons by
    %a{href: "http://dunedhel.deviantart.com/art/Pack-Yuuyake-96029071"} dunedhel
