.span4
  %p 
    This Experiment Created by 
    %a{href: "http://iconoclastlabs.com/"}
      Iconoclast Labs
.span4
  = image_tag "rr-logo-small.png"
  %strong Created during Rails Rumble 2012
.span3
  %p
    Icons provided by 
    %a{href: "http://www.thenounproject.com"} NounProject
  %p
    Follow us on
    %a{href: "https://twitter.com/iconoclastlabs"} Twitter
