.span4
  %p 
    This Experiment Created by 
    %a{href: "http://iconoclastlabs.com/"}
      Iconoclast Labs
    %a{href: "http://twitter.com/iconoclastlabs"}
      = image_tag "twitter.png"
      Follow Us on Twitter 
.span4
  = image_tag "rr-logo-small.png"
  %strong Created during Rails Rumble 2012
.span3
  %p
    Icons provided by 
    %a{href: "http://www.thenounproject.com"} NounProject
  %p
    Graphics from
    %a{href: "http://graphicriver.net"} GraphicRiver
  %p
    Follow us on
    %a{href: "https://twitter.com/iconoclastlabs"} Twitter
