.span4
  %p 
    © 2012
    %a{href: "http://iconoclastlabs.com/"}
      Iconoclast Labs
  %p
    %a{href: "http://twitter.com/iconoclastlabs"}
      = image_tag "twitter.png"
      Follow Us on Twitter 
.span4
  = image_tag "rr-logo-small.png"
  %strong Created in 48 hours, Rails Rumble 2012
.span3
  .attribute
    Haiku Icons via 
    %a{href: "http://www.thenounproject.com"} NounProject
  -#.attribute
    Graphics from
    %a{href: "http://graphicriver.net"} GraphicRiver
  .attribute
    Favicon via
    %a{href: "http://dunedhel.deviantart.com/art/Pack-Yuuyake-96029071"} dunedhel
  .attribute
    Backgrounds via
    %a{href: "http://subtlepatterns.com/"} Subtle Patterns
