.span8
  %h3.script-font Icon Haiku
  %strong Drag and drop some shiat!
  %ul#haiku{:"data-update-url" => "TODO_SORT_SAVE"}
    %li
      %ul#line1.haikuLine{:"data-limit" => 5}
        %li.tile First
        %li.tile Second
        %li.tile Third
        %li.tile Fourth
        %li.tile Fifth
    %li
      %ul#line2.haikuLine{:"data-limit" => 7}
        %li.tile Sixth
        %li.tile Seventh
        %li.tile Eigth
        %li.tile Ninth
        %li.tile Tenth
        %li.tile Eleventh
        %li.tile Twelveth
    %li  
      %ul#line3.haikuLine{:"data-limit" => 5}
        %li.tile Thirteenth
        %li.tile Fourteenth
        %li.tile Fifteenth
        %li.tile Sixteenth
        %li.tile Seventeenth
.span3{ :'ng-app' => 'NounApp', :'ng-controller' => 'NounCtrl' }
  %%h3.script-font
    Choose wisely:
  
  .tags
    %input{type:"hidden", id:"tagSelect", style:"width:250px", value:"brown, red, green"}

  %ul#library{:'when-scrolled' => "loadMore()"}
    %li.tile{:'ng-repeat'=>'noun in nouns'}
      %img{:'ng-src' => "{{noun.icon_url}}", :alt => '{{noun.name}}, {{noun.attribution}}'}
      -#Name: {{noun.name}}, Attribution: {{noun.attribution}}
.span12
  %a.btn
    %h4.script-font
      = image_tag "save.png"
      Save Haiku
.clearfix

