.row
  .span8
    %h3.script-font Icon Haiku
    %strong Drag and drop some shiat!
    %ul#haiku{:"data-update-url" => "/api/haikus.json"}
      %li
        %ul#line1.haikuLine{:"data-limit" => 5}
      %li
        %ul#line2.haikuLine{:"data-limit" => 7}
      %li  
        %ul#line3.haikuLine{:"data-limit" => 5}
      %li
        %ul#deleteLine.haikuLine{:"data-limit" => 0}
  .span3#app{ :'ng-app' => 'NounApp', :'ng-controller' => 'NounCtrl' }
    %h3.script-font
      Choose wisely:
    
    .tags
      %input{type:"hidden", id:"tagSelect", style:"width:250px", value:""}

    %ul#library{:'when-scrolled' => "loadMore('')"}
      %li.tile{:'ng-repeat'=>'noun in nouns', draggable: ""}
        %img{:id => "{{noun.id}}", :rel => "tooltip",:'ng-src' => "{{noun.icon_url}}", :alt => '{{noun.name}}, {{noun.attribution}}'}
        -#Name: {{noun.name}}, Attribution: {{noun.attribution}}
.row.well
  %h4.span5
    Title Your Haiku
    %input#haikuTitle{type: "text", required: "required"}
  .offset1
  .span5
    %a#saveButton.btn
      %h5
        Save Haiku
  .clearfix

