.span8
  %h3.script-font Icon Haiku Generator
  %strong Drag and drop some shiat!
  %ul#haiku{:"data-update-url" => "TODO_SORT_SAVE"}
    %li
      %ul#line1.haikuLine
        %li.tile First
        %li.tile Second
        %li.tile Third
        %li.tile Fourth
        %li.tile Fifth
    %li
      %ul#line2.haikuLine
        %li.tile Sixth
        %li.tile Seventh
        %li.tile Eigth
        %li.tile Ninth
        %li.tile Tenth
        %li.tile Eleventh
        %li.tile Twelveth
    %li  
      %ul#line3.haikuLine
        %li.tile Thirteenth
        %li.tile Fourteenth
        %li.tile Fifteenth
        %li.tile Sixteenth
        %li.tile Seventeenth
.span3{ :'ng-app' => 'NounApp', :'ng-controller' => 'NounCtrl' }
  %h3.script-font
    {{title}}
  %ul#library
    %li.tile{:'ng-repeat'=>'noun in nouns'}
      Name: {{noun.name}}, Attribution: {{noun.attribution}}


