.span12#buffer
  -#.span1
    = image_tag "box.png"
  %h1.span6.offset2.script-font What is Icon Haiku?
.span12
  .row
    .span7.offset2
      Poetry from icons. Skip over language barriers. Really leave interpretation
      up to the reader. Write Haiku for anyone.
  .row
    -#%p Poetry 2.0. Quirky Haiku with the rich and cutting imagery of icons.  
    .span7.offset2
      -#= image_tag "generator.png"
      Use our 
      %em 
        Icon Haiku
      generator and generate your own obscure image poetry, or just view the work of others... whatever works for you.
      %p 
        Click the 
        %strong Start Your Own
        button and let your creative juices flow.
  .row
    .span5.offset7{:style=>"margin-bottom:25px;"}
      = link_to "<i class='icon-leaf icon-white'></i> Start Your Own".html_safe, create_path, {class: "btn btn-success"}
-#.span12
  %h1 HAIKU GOES HERE
