%h1.span6 What is Icon Haiku?
.span12
  %p Create fun, interesting and quirky Haiku with your friends, but do it the rich and cutting imagery of icons.
  %p Enough talk, look at these recently created haikus!
.span12
  %h1 HAIKU GOES HERE
.span6
  = link_to "<i class='icon-leaf icon-white'></i> Create Here".html_safe, create_path, {class: "btn btn-success"}
