%h1.span6 What is Icon Haiku?
.span12
  %p Create fun, interesting and quirky Haiku with your friends, but do it the rich and cutting imagery of icons.
  %p Enough talk, look at these recently created haikus!
.span12
  %h1 HAIKU GOES HERE
.span6
  %a.btn.btn-success
    %i.icon-leaf.icon-white
    Click Here to Create One Now
