@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require 'pepper-grinder/jquery-ui-1.9.0.custom.min.css'
 *= require_tree .
 */

body
{
  background-image: image_url("wood_pattern.png");
}

.pull-center
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#main
{
  background-image: image_url("ricepaper2.png");
  border-radius: 3px;
}

footer
{
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  color: #fff;

  a
  {
    color: #0BF;
  }

  a:hover
  {
    color:#0BE;
  }
}


// SHOULD BE IN HOME.CSS.SCSS ***************************************

li.tile
{
  display: inline-block;
}
